/*MOBILE FIRST*/

/*Media query break point - smallest mobiles - 320px
Body text: 14px or larger
Headings: 18px or larger
*/

body {
margin: 0;
}

.nav { 
    grid-area: nav;
}

.nav ul {
    float: right;
}

.nav ul li {
    display: inline;
    padding: 20px;
}

.header { 
    grid-area: header;
    text-align: center;
}

.main { 
    grid-area: about;
}

.about, .videos, .articles, .aside, .footer {
    text-align: center;
}

.videos { 
    grid-area: videos;
}

.articles { 
    grid-area: articles;
}

.aside { 
    grid-area: aside;
}

.footer { 
    grid-area: footer;
}

.grid-container {
    display: grid;
    border: 1px solid black;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'header header header header header header'
    'about about about about about about'
    'videos videos videos videos videos videos'
    'articles articles articles articles articles articles'
    'aside aside aside aside aside aside'
    'footer footer footer footer footer footer';
}

.grid-container > .grid-item {
    border: 1px solid green;
    padding: 20px;
}


.videos iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    padding-bottom: 20px;
}

.articleThumb {
    width: 100%;
    max-width: 250px;
}

/*Media query break point - small/ some large mobiles - 480px
Body text: 16px or larger
Headings: 20px or larger
*/

@media (min-width: 480px) {

}


/*Media query break point - tablets/ some smaller desktops - 768px
Body text: 18px or larger
Headings: 24px or larger
*/

@media (min-width: 768px) {
    
}



/*Media query break point - larger desktops/ some smaller laptops - 992px
Body text: 20px or larger
Headings: 28px or larger
*/

@media (min-width: 992px) {
    
}



/*Media query break point - larger laptops/ desktops - 1200px
Body text: 22px or larger
Headings: 32px or larger
*/

@media (min-width: 1200px) {
    
}